.post-header {
    margin-bottom: $vertical-spacing-unit;
}

a[class^='set-'] {
		display: inline-block;
		padding: 0px 3px;
        font-weight: bold;
		// margin: 0 8px 4px 0;
		font-size: 11px;
		line-height: 19px;
		color: $green-1;
		background-color: #f2f2f2;
		text-decoration: none;
		transition: .4s;
}

.comment-count {
    color: $blue-1;
}

.post-list {
    margin: 0;
    padding: 0;
    list-style: none;

    > li {
        border-bottom: 1px solid $light-gray;
        padding-bottom: $space-3;
        padding-top: $space-3;
    }
}

.post-comment-title {
    font-size: 28px;
    font-weight: normal;
    letter-spacing: -1px;
    line-height: 1;
    margin-bottom: 10px;
    margin-top: 80px;
}
.post-title {
    font-size: 30px;
    font-weight: normal;
    letter-spacing: -1px;
    line-height: 1;
    margin-bottom: 10px;
    margin-top: 0;
    // @include media-query($on-laptop) {
    //     font-size: 36px;
    // }
}

.post-section {
    font-size: 25px;
    padding-top: 30px;
    font-weight: bold;
}

.post-content {
    h2 {
        font-size: 42px;
        // @include media-query($on-laptop) {
        //     font-size: 28px;
        // }
    }
    h3 {
        font-size: 30px;
        // @include media-query($on-laptop) {
        //     font-size: 22px;
        // }
    }
    h4 {
        font-size: 20px;
        // @include media-query($on-laptop) {
        //     font-size: 18px;
        // }
    }
}
.post-meta {
    color: $grey-color;
    font-size: $small-font-size;
    margin-bottom: 0px;
}
.post-link {
    display: block;
    font-size: 42px;
}
