---
layout: default
---

<div class="header-bar">
  <h1>{{ site.blog_name }}</h1>
  <h2>{{ site.blog_description }}</h2>
</div>


<ul class="post-list">
  {% for post in paginator.posts %}
    <li>
      <h2><a class="post-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
      <p class="post-meta">{{ post.date | date: '%B %-d, %Y — %H:%M' }} {% if post.tags != empty %} | <b>{{ post | tags }}</b>{% endif %}</p>
      <p></p>
      {{ post.excerpt | strip_html }}
      <p></p>
      <div style="float:right">
          <i class="fab fa-comments"></i>
          <a href="{{ post.url | prepend: site.baseurl }}#disqus_thread">0 Comments</a>
          &nbsp
          <i class="fab fa-book"></i>
          <a href="{{ post.url | prepend: site.baseurl }}">Read</a>
      </div>
    </li>
  {% endfor %}
</ul>

{% include pagination.html %}
